# A linha abaixo determina que o diretório node_modules não será enviado ao repositório remoto
node_modules


# Caso você renomeie seu diretório /RapStudio, altere também nas linhas abaixo:
RapStudio/node_modules


.github
