# A linha abaixo determina que o diretório node_modules não será enviado ao repositório remoto
node_modules
package-lock.json

# Caso você renomeie seu diretório /RapStudio, altere também nas linhas abaixo:
RapStudio/node_modules
RapStudio/package-lock.json

.github
