@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: bombing;
    src: url(../assets/bombing/Bombing.ttf);
}
@font-face{
    font-family: MARSNEVENEKSK;
    src: url(../assets/marsneveneksk/MARSNEVENEKSK-Clean.otf);
}
body{
    overflow-x: hidden;
    background: linear-gradient(90deg, #676767, #555555, #333333);;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerFormulario{
    border-radius: 10px;
    height: 79vh;
    width: 590px;
    padding: 50px;
    background-color: #101010;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.336);
    display: flex;
    flex-direction: column;

    & .titulo{
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: MARSNEVENEKSK;
        text-shadow: 4px 4px black;
        color: white;
        letter-spacing: 4px;
        font-size: 100px;
        font-weight: 10;
    }
} 

.inputs{
    margin-top: 55px;
    display: flex;
    justify-content: space-around;
    height: 50%;
    & input{
        width: 100%;
    }
}

.inputs p {
    color: white;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.LabelsInputs{
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: space-evenly;
    flex-direction: column;
}
input{
    background-color: #1d1d1d;
    color: white;
    font-size: 14px;
    height: 25px;
    font-family: 'Roboto';
    padding-left: 6px;
}

input::placeholder{
    color: #FFF;
}



input:hover{
    border-bottom: 3px solid rgb(255, 255, 255);
}