@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Roboto&display=swap');
@font-face{
    font-family: MARSNEVENEKSK;
    src: url(../assets/marsneveneksk/MARSNEVENEKSK-Clean.otf);
}

@font-face{
    font-family: bombing;
    src: url(../assets/bombing/Bombing.ttf);
}

*{
    margin: 0;
    
}

html{
    height: 500vh;
}

body{
    background-color: #060806;
    margin-top: 10vh;
}

.header{
    width: 100%;
    height: 10vh;
    background-color: #060806;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    
    animation: scroll linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 20vh;

    & .container{
        justify-content: space-between;
        align-items: center;
    }
}

.container{
    display: flex;
    width: 85%;
    margin: auto;
    
}

.header ul{
    font-weight: 500;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.header a{
    text-decoration: none;
    color: white;
}

.header img{
    height: 8vh;
}

.imagemHome{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.imagemHome img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.textoHome{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    & p{
        z-index: 1;
        font-family: 'MARSNEVENEKSK';
        font-size: 150px;
        color: #740000;
        text-shadow: 1.5px 1.5px 1.5px #ffffff;
    }
    
}


.sobre{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20vh; 
}

.sobre p{
    color: #9fa3a9;
    font-family: bombing;
    font-size: 135px;
}
   
.subtitle{
    font-family: 'Roboto', sans-serif;
    color: #9fa3a9;
    font-size: 45px;
    font-weight: 600;
}
.OQueE{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    
    & img{
        height: 25.5vw;
    }
}
.textosEsquerda{
    width: 40%;
}
.normalText{
    margin-top: 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
}




@keyframes scroll{
    0%{
        background-position: 50% 0;
    }
    100% {
        background-position: 50% 100%;
        background-color: #0000005d;
        height: 10vh;
        font-size: 2em;
    }
    
    
}