@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Roboto&display=swap');

@font-face{
    font-family: MARSNEVENEKSK;
    src: url(../assets/marsneveneksk/MARSNEVENEKSK-Clean.otf);
}

@font-face{
    font-family: bombing;
    src: url(../assets/bombing/Bombing.ttf);
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: #060806;
    margin-top: 10vh;
}

.header{
    width: 100%;
    height: 10vh;
    background-color: #060806;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);

    animation: scroll linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 60vh;

    & .container{
        justify-content: space-between;
        align-items: center;
    }
}

.container{
    display: flex;
    width: 85%;
    margin: auto;
}

.header ul{
    font-weight: 500;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-between;
}

.header a{
    text-decoration: none;
    color: white;
}

.header img{
    height: 8vh;
}

.btn-entrar{
    box-shadow: 0px 0px 10px 1px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color:transparent;
	border-radius: 18px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	width: 80px;
    height: 40px;
    transition: all 400ms ease;

    &:active {
        position:relative;
        top:1px;
    }
    &:hover {
        transform: scale(1.1);
        transition: all 0.5s;
    }
}

.imagemHome{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.imagemHome img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.textoHome{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p{
        z-index: 1;
        font-family: 'MARSNEVENEKSK';
        font-size: 150px;
        color: #ffffff;
        text-shadow: 10px 10px 10px #000000;
    }
}

#localQuiz{
    position: absolute;
    margin-top: 100px;
}

.titulo{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15vh;
}

.titulo p{
    color: #9fa3a9;
    font-family: bombing;
    font-size: 135px;
}


.subtitle{
    font-family: 'Roboto', sans-serif;
    color: #9fa3a9;
    font-size: 45px;
    font-weight: 600;
}

.caixas{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
}

.normalText{
    margin-top: 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
}
.textos{
    width: 40%;
}

.espacamento{
    margin-top: 250px;
}

.principaisArtistas{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    flex-direction: column;
}

.carrossel{
    width: 750px;
    height: 700px;
    border-radius: 75px;
    background-color: #000000;
    box-shadow: 3px 3px 3px #ffffff2d;
    overflow: hidden;
    & ul{
        margin-top: 50px;
        display: flex;
        height: 750px;
        list-style-type: none;
    }
    & li{
        position: relative;
        animation: slide 20s infinite ease-out;
    }
    & p{
        margin: auto;
        margin-top: 20px;
        width: 700px;
        text-align: center;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
    }
    & img{
        margin: 0px 187.5px;
        object-fit: cover;
        width: 375px;
        height: 450px;
    }
}
.atualmente{
    margin: 100px 0 40px 0;
}

.quiz{
    margin-top: 250px;
    width: 100%;
    height: 600px;
    background-color: #404040;
    box-shadow: 0px -10px 22px 12px #404040,
                0px 11px 22px 12px #404040;
}

.quizTextoPrincipal{
    color: #ffffff;
    font-family: bombing;
    font-size: 100px;
    display: flex;
    justify-content: center;
}

.quizSubTexto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    text-align: center;
    & p {
        margin: 0;
        width: 80%;
        display: flex;
        font-size: 35px;
    }
}

.botaoTexto{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    
}

.alinharBtn{
    width: 80%;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.botaoQuiz {
	box-shadow: 0px 0px 10px 1px #ffffff;
	background-color:transparent;
	border-radius:28px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	width: 80px;
    height: 40px;
    transition: all 400ms ease;

    &:active {
        position:relative;
        top:1px;
    
    }
    &:hover {
        transform: scale(1.1);
        transition: all 0.5s;
        background-color:#303030;
    }
}

.subir{
    animation: aparecer linear both;
    animation-timeline: view(block);
    animation-range: cover 10% cover 50%;
}

.vindoEsquerda{
    animation: esquerda linear both;
    animation-timeline: view();
    animation-range: cover -10% cover 30%;
}

.vindoDireita{
    text-align: right;
    animation: direita linear both;
    animation-timeline: view();
    animation-range: cover -10% cover 30%;
}

.footer{
    height: 150px;
    margin-top: 190px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    border-top: 1px #ffffff solid;
    display: flex;

    & p {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
    }
    & .icones{
        width: 150px;
        height: 150px;
        justify-content: space-around;
        align-items: center;
        display: flex;
    }

}



@keyframes scroll{
    0%{
        background-position: 50% 0;
    }
    100% {
        background-position: 50% 100%;
        background-color: #0000005d;
        height: 10vh;
        font-size: 2em;
    }
}

@keyframes aparecer{
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes esquerda{
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


@keyframes direita{
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide {
    0%{
        left: 0px;
    }
    20%{
        left: 0px;
    }
    30%{
        left: -750px;
    }
    50%{
        left: -750px;
    }
    60%{
        left: -1500px;
    }
    90%{
        left: -1500px;     
    }
    100%{
        left: 0px;
    }
}