@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1f1f1f;
}
html{
    height: auto;
}

input {
    border-style: none;
    background: transparent;
    outline: none; 
}

.header ul{
    width: 15%;
    justify-content: space-between;
}

.espacoTopo{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
}
.Titulo{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    color: #9fa3a9;
    font-family: 'Roboto';
    font-size: 60px;
    margin-bottom: 25px;
}
.recomendeAqui{
    width: 85%;
    margin: auto;
    height: 250px;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #252525;
    & p{
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 1.7vw;
    }
}

.divInputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.listaRecomendações{
    width: 85%;
    margin: auto;
    height: auto;
    margin-top: 40px;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #252525;

    & p{
        color: white;
        font-family: 'Roboto', sans-serif;
    }
}


.inputsMusica{
    margin-top: 15px;
    width: 100%;
    padding-top: 2px;
    font-size: 18px;
    color: white;
    border-bottom: solid 3px #570000;
    border-radius: 3px;
}
.btnplay{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & i{
        cursor: pointer;
    }
    & p{
        cursor: pointer;
    }
}

.TituloRecomendacao{
    margin-top: 25px;
    font-size: 40px;
}

.RecomendacaoUsuario{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    font-size: 1.7vw;
    border-bottom: solid 3.5px rgb(21, 21, 21);
}
.Musica{
    margin: 15px 0 15px;
}